<div ng-controller="navigationController as navCtrl">
    <div class="well">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-11">
                    <div class="col-md-6">
                        <h1>
                            <a href="/"><strong>TOME</strong></a>
                        </h1>
                    </div>
                    <div class="col-md-6">
                        <!--<button ng-click="navCtrl.fbLogin(navCtrl.fbFlag)"
                                ng-show="!navCtrl.fbFlag">Log In With Facebook</button>
                        <button ng-click="navCtrl.fbLogout(navCtrl.fbFlag)"
                                ng-show="navCtrl.fbFlag">Log Out</button>-->
                        <h3>
                            <login-buttons style="float: right;"></login-buttons>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


